<nz-space nzDirection="vertical">
  <nz-space nzAlign="center" *nzSpaceItem>
    <button *nzSpaceItem nz-button nzType="primary" (click)="onIncrease()">+</button>
    <div *nzSpaceItem> {{numbers.length}} </div>
    <button *nzSpaceItem nz-button nzType="primary" (click)="onDecrease()">-</button>
    <div *nzSpaceItem>
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
        <input type="text" nz-input placeholder="input size" [formControl]="inputSize" />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="primary" nzSize="large" (click)="onSetSize()">set size</button>
      </ng-template>
    </div>
  </nz-space>
  <ng-container *ngFor="let number of numbers;let i = index;trackBy: trackByFn">
    <app-counter *nzSpaceItem [(counter)]="numbers[i]"></app-counter>
  </ng-container>
  <div *nzSpaceItem>
    Sum: {{sum}}
  </div>
</nz-space>
